* {
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.star-cb-group {  /* Direccion de efecto */

  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-cb-group * {
  font-size: 1rem;
}

.star-cb-group>input {
  display: none;
}

.star-cb-group>input+label {

  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}

.star-cb-group>input+label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}

.star-cb-group>input:checked~label:before,
.star-cb-group>input+label:hover~label:before,
.star-cb-group>input+label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}

.star-cb-group>.star-cb-clear+label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}

.star-cb-group>.star-cb-clear+label:before {
  width: .5em;
}

.star-cb-group:hover>input+label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}

.star-cb-group:hover>input+label:hover~label:before,
.star-cb-group:hover>input+label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}


.rating-box {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  /* sombra trasera */
  width: 75%;
  height: 100%;
  border: solid 1px #60635f;
  margin: 0 auto;
  position: relative;
}

fieldset {
  border: none;
  padding: 5px 20px;
}

.rating-success {
  display: none;
  text-align: center;
  font-size: 20px;
  padding: 30px 0;
}

.rating-success.active {
  display: block
}

.rating-form input.text-field {
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 14px;
  padding: 0 10px;
  border: solid 1px #c1c1c1;
}

.rating-form #review {
  width: 100%;
  padding: 0 10px;
  line-height: 25px;
  font-size: 14px;
  height: 100px;
  border: solid 1px #c1c1c1;
}

.rating-form #submit {
  width: 100px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 0;
  -webkit-appearance: none;
  background: #3ac674;
  color: white;
  border: none;
  outline: none;
}